extends layout

block content
  div.row-fluid.navbar
    div.row-fluid.navbar-inner
      div.row-fluid.span12
        a.brand(href="#") Template
        ul.nav
          li.base-menu
          li.toc-menu

  div#container-main
    div#map
    div#sidebar-right
    div#geocoderSearch
