extends layout

block content
  div.row-fluid.navbar
    div.row-fluid.navbar-inner
      div.row-fluid.span12
        label#app-name.brand Template
        ul#tools-menus.nav

  div#container-main
    div#map
    div#sidebar-right
    div#geocoderSearch
