body{font-family:"helvetica neue",arial,helvetica,freesans,"libaration sans","numbus sans l",sans-serif !important;color:#fff;}
body{font-family:"helvetica neue",arial,helvetica,freesans,"libaration sans","numbus sans l",sans-serif !important;color:#fff;}
.description{margin:1em auto;padding:1em;color:#7a99a5;}
.dijitComboBoxMenuPopup{font-size:0.8em !important;}
.dijitMenuPopup{min-width:150px;}.dijitMenuPopup .dijitMenuItemLabel{width:150px !important;}
.dijitMenuBar{padding:5px !important;border:0 none lightGrey !important;background-color:#53a145 !important;}.dijitMenuBar .dijitMenuItemLabel{color:#fff !important;}
.dijitMenuBar .dijitMenuItemLabel:hover{background-color:#7f7f7f !important;}
.dijitMenuBar .dijitMenuItemSelected{background-color:#7f7f7f !important;}
td{line-height:10px !important;}
.attr-info{font-size:0.8em;background:#e4e4e4;}.attr-info .fieldName{font-weight:bold;}
html,body{overflow-x:hidden;height:100%;width:100%;margin:0;padding:0;}
.navbar,.navbar .brand,.navbar .nav>li>a{color:#fff !important;text-shadow:0 0 0 !important;}
.navbar .nav li.dropdown>.dropdown-toggle .caret{border-top-color:#fff !important;border-bottom-color:#fff !important;}
.brand{float:left !important;}
.navbar{margin-bottom:0 !important;background:#53a145 !important;background-color:#53a145 !important;}.navbar .navbar-inner{filter:0 !important;background:#53a145 !important;background-color:#53a145 !important;padding:0 !important;}.navbar .navbar-inner div{margin-left:1em !important;}
#map{position:absolute;padding:0;top:40px;left:0;right:0;bottom:0;}
#sidebar-right{position:absolute;padding:0;right:0;top:0;bottom:0;width:0;}#sidebar-right .dijitContentPane{color:#333;background:#f2f6fa;}
.dijitAccordionTitle{font-size:0.8em !important;border:1px solid $border_color !important;background:#DBEEFF !important;font-weight:normal !important;color:#555 !important;cursor:pointer !important;}
.dijitAccordionTitle:hover{background:#8BA8C1 !important;color:#fff !important;}
.dgrid{font-size:0.7em;max-height:150px;}.dgrid .dgrid-row{padding:0.3em;cursor:pointer;}
.dgrid .dgrid-row:hover{background:#88a8c1;color:#fff;}
#district-select{font-size:0.7em;}
.dijitMenuTable{font-size:0.7em !important;}
#geocoderSearch{display:block;position:absolute;z-index:2;top:5px;right:25px;}#geocoderSearch div.esriGeocoderResults{color:#000 !important;}
